<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
        </ion-buttons>
        <ion-title>Nombre de la lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
</ion-content>